alias laravelclear_compiled='php artisan clear-compiled'
alias laravelclear_cache='php artisan cache:clear'
alias laravelclear_config='php artisan config:clear'
alias laravelclear_event='php artisan event:clear'
alias laravelclear_optimize='php artisan optimize:clear'
alias laravelclear_route='php artisan route:clear'
alias laravelclear_view='php artisan view:clear'
alias laravelclearall='laravelclear_compiled; laravelclear_cache; laravelclear_config; laravelclear_event; laravelclear_optimize; laravelclear_route; laravelclear_view'
